@import 'https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&display=swap';

body {
  font-family: 'Spectral SC', serif;
  font-size: 12pt;

  /*    text-align: center;
      font-size: 12pt; */
}

.innehåll {
  font-weight: bold;
}

#burgers {
  background-color: #FFCBCB;
  color: white;
  font-size: 14pt;
  border: 8px double black;
}

#contact {
  border: 1px solid black;
}

#head {
  height: 1px;
  overflow: hidden;
  margin: 1px;
}

#headpic {
  opacity: 0.5;
  height: auto;
  width: 100%;
}

#texthead {
  margin-top: -17%;
  margin-left: 19%;
  font-size: 6vh;
  color: black;
  position: absolute;
}

button {
  font-family: 'Spectral SC', serif;
  font-size: 13pt;
  border: 2px solid black;
  margin: 50px;
}

button:hover {
  font-size: 13pt;
  background-color: #FFCBCB;
}


thead {
  font-size: 17pt;
}

/* Your comment goes here */
.grid {
  display: grid;
     grid-gap: 10px;
     grid-template-columns: 350px 350px 350px;
     background-color: FFCBCB;
     color: FFCBCB;
}

}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10;
  font-size: 110%;
  border: 2px solid black;
}

.a {
grid-column: 1;
  grid-row: 1 / span 2;
}

.b {
grid-column: 2;
  grid-row: 1 / span 2;
}

.c {
  grid-column: 3;
  grid-row: 1 / span 2;
}

  /* är detta rätt? ska detta användas */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}
